<div class="login-container">
  <div class="univ-logo-peek">
    <img src="escudo-usac.png" alt="Escudo USAC" class="logo-img-real">
  </div>

  <div class="login-box">
    <div class="logo-usac">
      <h1>Recuperar Contraseña</h1>
      <p>Paso 1: Validar Identidad</p>
    </div>

    <form (submit)="onRecuperar($event)">
      <div class="input-group">
        <label for="carnet">Registro Académico (Carnet)</label>
        <input type="text" name="carnet" [(ngModel)]="recoveryData.carnet" placeholder="Ej. 202612345" required>
      </div>

      <div class="input-group">
        <label for="correo">Correo Electrónico</label>
        <input type="email" name="correo" [(ngModel)]="recoveryData.correo" placeholder="ejemplo@ingenieria.usac.edu.gt" required>
      </div>

      <button type="submit" class="btn-login">Verificar Datos</button>
    </form>

    <div class="footer-login">
      <p><a routerLink="/login">Volver al inicio de sesión</a></p>
    </div>
  </div>
</div>