<div class="login-container">

  <div class="univ-logo-peek">
    <img src="escudo-usac.png" alt="Escudo USAC" class="logo-img-real">
  </div>

    <div class="univ-logoIng-peek">
    <img src="LogoIng.png" alt="Escudo USAC" class="logo-imgIng-real">
  </div>

  <div class="login-box">
    
    <div class="logo-usac">
      <h1>Registro</h1>
      <p>Facultad de Ingeniería</p>
    </div>

<form (submit)="onSubmit($event)">
  <div class="input-group">
    <label>Registro Académico (Carnet)</label>
    <input type="text" name="carnet" [(ngModel)]="userData.carnet" required>
  </div>

  <div class="input-group">
    <label>Nombres</label>
    <input type="text" name="nombres" [(ngModel)]="userData.nombres" required>
  </div>

  <div class="input-group">
    <label>Apellidos</label>
    <input type="text" name="apellidos" [(ngModel)]="userData.apellidos" required>
  </div>

  <div class="input-group">
    <label>Correo</label>
    <input type="email" name="correo" [(ngModel)]="userData.correo" required>
  </div>

  <div class="input-group">
    <label>Contraseña</label>
    <input type="password" name="pass" [(ngModel)]="userData.pass" required>
  </div>

  <button type="submit" class="btn-login">Registrarse</button>
</form>

<div class="footer-login">
  <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a></p>
</div>
