<div class="login-container">

  <div class="univ-logo-peek">
    <img src="escudo-usac.png" alt="Escudo USAC" class="logo-img-real">
  </div>

  <div class="univ-logoIng-peek">
    <img src="LogoIng.png" alt="Escudo USAC" class="logo-imgIng-real">
  </div>


  <div class="login-box">
    
    <div class="logo-usac">
      <h1>Evaluador USAC</h1>
      <p>Facultad de Ingeniería</p>
    </div>

    <form (ngSubmit)="onSubmit($event)">
      <div class="input-group">
        <label for="carnet">Registro Académico (Carnet)</label>
        <input type="text" id="carnet" [(ngModel)]="credenciales.carnet" name="carnet" placeholder="Ej. 202612345" required>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="credenciales.pass" name="pass" placeholder="••••••••" required>
      </div>

      <button type="submit" class="btn-login">Iniciar Sesión</button>
    </form>

    <div class="footer-login">
    <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
    <p><a routerLink="/recuperar">¿Olvidó su contraseña?</a></p>
    </div>
  </div> </div> 
