<div class="login-container">
  <div class="univ-logo-peek">
    <img src="escudo-usac.png" alt="Escudo USAC" class="logo-img-real">
  </div>

  <div class="login-box">
    <div class="logo-usac">
      <h1>Nueva Contraseña</h1>
      <p>Establece tu nueva clave de acceso</p>
    </div>

    <form (submit)="onCambiarPassword($event)">
      <div class="input-group">
        <label>Nueva Contraseña</label>
        <input type="password" name="nuevaPass" [(ngModel)]="passData.nuevaPass" 
               placeholder="Mínimo 6 caracteres" required>
      </div>

      <div class="input-group">
        <label>Confirmar Contraseña</label>
        <input type="password" name="confirmarPass" [(ngModel)]="passData.confirmarPass" 
               placeholder="Repite tu contraseña" required>
      </div>

      <button type="submit" class="btn-login">Finalizar y Guardar</button>
    </form>

    <div class="footer-login">
      <p><a routerLink="/recuperar">Volver al paso anterior</a></p>
    </div>
  </div>
</div>